<div id="tab1" class="tab active">
 <div id="pins" class="transitions-enabled">
    <% @collects.each do |comment| %>
     <div class="box panel panel-default">
            <%= link_to image_tag(comment.image.url(:medium)), [comment.pin, comment] %>
        <div class="panel-body">
          <p style="font-size: 12pt; font-weight:bold;"><%= comment.place_name %></p>
          <p style="font-size: 10pt;"><%= comment.body.truncate(150) %></p>
          <p style="font-size: 10pt;">updated at <%= time_ago_in_words(comment.updated_at) %> ago</p> 



       </div>
      </div>
    <% end %>
</div>

<div class="center">
   <%= will_paginate @collects, renderer: BootstrapPagination::Rails %>
</div>

</div>