     <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1" style="text-align:center; background-color:white;">
      <div class="mainprofile" style="padding-top:20px; padding-bottom:10px;">
        <%= image_tag(@user.image.url(:medium)) %>
        </div>
     <p style="font-size:24px; line-height:1; letter-spacing: -1px; margin:0px;"><strong><a href="/<%= @user.name %>" style="color:rgba(0,0,0,0.72);"><%= @user.name %></a></strong></p>
      <div class="user-desc" style="margin-top: 0px; padding: 10px 10% 0 10%; text-align:center; border-bottom-style: solid;border-bottom-width: 0px;border-bottom-color: grey; font-size:16px; line-height:1.4; color: rgba(0,0,0,0.51);">
      <%= @user.description %> 
      </div>  
      <div class="user-desc" style="font-size:16px; padding: 10px 10% 0 10%; margin-bottom:10px; color:#777;">
        <span class="glyphicon glyphicon-th-list" style=" margin-right:8px;"></span><%= @user.pins.size %><span class="glyphicon glyphicon-heart" style=" margin-left:8px; margin-right:8px;"></span><%= @user.favorites.size %><span class="glyphicon glyphicon-map-marker" style=" margin-left:8px;"></span><%= @user.collects.size %>
      </div>  
     </div>


     <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1" style="padding-top:0px; padding-bottom:10px; background-color:white; margin-bottom:20px;">
      <div style="width: 80%; margin:auto; border-top:1px solid rgba(0,0,0,0.07); border-bottom:1px solid rgba(0,0,0,0.07); margin-bottom:10px;">
      <ul class="nav nav-pills nav-justified">
        <li><a href="/<%= @user.name %>" style="border-radius:0px; color:#777;">List Following</a></li>
        <li class="active"><a href="#" style="border-radius:0px; color:black; background-color:white; border-bottom:1px solid rgba(0,0,0,1); border-top:1px solid rgba(0,0,0,1);">List Created</a></li>        
        <li><a href="/<%= @user.name %>/collectedplaces" style="border-radius:0px; color:#777;">Place Collected</a></li>        
      </ul>
      </div>

<%= render "profiles/crtedlist" %>


     </div>





