<div class="profile-row" style="width:1040px; margin:auto;">
     
     <div class="place-author" style="width:200px; padding-top:10px; float:left; text-align:center; border-style:solid; border-color:grey;">
      <div class="mainprofile" style="width:100px; margin-left:auto; margin-right:auto; padding-top:20px; padding-bottom:20px;">
        <%= image_tag(@user.image.url(:medium)) %>
        </div>
     <p><strong><a href="/<%= @user.name %>"><%= @user.name %></a></strong></p>
      <div class="user-desc" style="margin: 15px; padding: 10px;text-align:left; border-top-style: solid;border-top-width: 2px;border-top-color: grey;">
      <%= @user.description %> 
      </div>  
     </div>

     <div class="place-placeholder" style="width:800px; float:left; margin-left:20px;">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">List Following</a></li>
        <li><a href="/<%= @user.name %>/createdlist">List Created</a></li>
        <li><a href="/<%= @user.name %>/collectedplaces">Place Collected</a></li>        
      </ul>


<%= render "profiles/favlist" %>


     </div>

</div>


