 <%= render 'pages/home' unless user_signed_in? %>

 <div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>
     <div class="list box panel panel-default">
      <%= link_to image_tag(pin.image.url(:croppable)), pin %>
        <div class="panel-body" style="height:120px;">
          <div class="favorite">  
            <span class="glyphicon glyphicon-heart"></span>
          </div>
          <div class="profile"><%= image_tag(pin.user.image.url(:thumb)) %>  
            <strong> <%= pin.title.truncate(20) %> </strong> </br>
            by <a href="/<%= pin.user.name %>"><strong><%= pin.user.name.truncate(15) if pin.user %> </strong></a>
          <p style="height:40px;"><%= pin.description.truncate(33) %> </p>
            </div>
            </br>
       </div>
      </div>
    <% end %>
</div>

<div class="center">
   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>



