<%= link_to 'Back', pins_path %>

<div class="row">
	<div class="col-md-offset-1 col-md-10">	
	 <div class="panel panel-default">
	 <div class="panel-heading">
	  <p style="font-size:18pt; color:#000000; font-weight:bold; margin:0px;"><%= @pin.title %></p>

<% if user_signed_in? %>
 <% if @pin.user == current_user %>
 
 <% else %>
  <% unless current_user.favorites.exists?(id: @pin.id) %>
   <%= link_to favorite_pin_path(@pin, type: "favorite"), method: :put do %>
    <button type="button" class="btn btn-default btn-blocal">
    FOLLOW THIS LIST
    </button>
   <% end %>
  <% else %>
   <%= link_to favorite_pin_path(@pin, type: "unfavorite"), method: :put do %>
     <button type="button" class="btn btn-default btn-blocal">
    UNFOLLOW THIS LIST
    </button>
   <% end %>
  <% end %> 
 <% end %> 

<% else %>

  <div style="font-size: 8pt; font-weight: bold; margin:5px 0 0 0; border-color: #000000; border-style: solid; width:200px; padding: 0 5px 0 5px; text-align:center;"><%= link_to "SIGN IN AND FOLLOW THIS LIST", new_user_session_path %></div>

<% end %> 

	 </div>
	 <div class="panel-body">
	  <p style="color:#333; font-size:15px; line-height:1.8"><%= @pin.description %></p>

<div style="margin-bottom: 40px; margin-top:20px;"> 
        <div class="profile showprofile" style="float:left; display:inline-block;"> <a href="/<%= @pin.user.name %>" style="font-size:13px; color: #666;"><%= image_tag(@pin.user.image.url(:thumb)) %></a>
        </div>
        <div style="display: inline-block; margin-top:5px; margin-left:5px;">
        <a href="/<%= @pin.user.name %>" style="font-size:13px; color: #666;"><strong>by <%= @pin.user.name.truncate(15) if @pin.user %> </strong></a> 
        <p style="color:#999; font-size: 12px;"><%= time_ago_in_words(@pin.updated_at) %> ago</p>
        </div>
</div>



	<% if user_signed_in? %>
	 <% if @pin.user == current_user %>
	  <%= link_to edit_pin_path(@pin) do %> 
	    <span class="glyphicon glyphicon-edit"></span>
        Edit
      <% end %>
      <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-trash"></span>
        Delete
      <% end %>
	 <% end %>
	<% end %>


	 </div>
 	</div>
 <div>

<%= render "comments/comment" %>
	
<% if user_signed_in? %>
	<% if @pin.user == current_user %>

<div class="placecreate-button">
<!-- Button trigger modal -->
<button class="btn btn-primary btn" data-toggle="modal" data-target="#myModal">
  ADD A NEW PLACE
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">ADD A NEW PLACE</h4>
      </div>
      <div class="modal-body">
	<%= render "comments/form" %>
      </div>
    </div>
  </div>
</div>

</div>

	<% end %>
<% end %>




