<div id="pins" class="transitions-enabled">
    <% @comments.each do |comment| %>
     <div class="box panel panel-default">
            <%= link_to image_tag(comment.image.url(:medium)), [comment.pin, comment] %>

<% unless current_user.collects.exists?(id: comment.id) %>
  <%= link_to collect_comment_path(comment, type: "collect"), method: :put do %>
  <div class="favorite"><span class="glyphicon glyphicon-heart"></span></div>
  <% end %>
<% else %>
  <%= link_to collect_comment_path(comment, type: "uncollect"), method: :put do %>
  <div class="unfavorite"><span class="glyphicon glyphicon-heart"></span></div>
  <% end %>
<% end %> 

        <div class="panel-body">
          <p style="font-size: 12pt; font-weight:bold;"><%= comment.place_name %></p>
          <p style="font-size: 10pt; color:#666;"><%= comment.body.truncate(150) %></p>
          <p style="font-size: 9pt; color:#999;">updated at <%= time_ago_in_words(comment.updated_at) %> ago</p> 


            <% if user_signed_in? %>
   <% if @pin.user == current_user %>
      <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-trash"></span>
        Delete
      <% end %>
   <% end %>
  <% end %>

       </div>
      </div>
    <% end %>


</div> 

<div class="center">
   <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
</div>


