<div class="row">
  <div class="col-md-offset-2 col-md-10">	

	<div class="panel panel-default" style="float:left;">
	 <div class="panel-heading">
	  <p style="font-size:14pt; font-weight:bold; margin:0px;"><%= @comment.place_name %> 
	  	<span style="font-size:10pt; font-weight:bold;">      
	  		@ <%= @comment.neighborhood %>, <%= @comment.city %>, <%= @comment.country %>
	  	</span>
      </p>
      <p>from the list "<%= link_to @pin.title, @pin %>"</p>

<% if user_signed_in? %>
<% unless current_user.collects.exists?(id: @comment.id) %>
  <%= link_to collect_comment_path(@comment, type: "collect"), method: :put do %>
  <div style="font-size: 8pt; font-weight: bold; margin:5px 0 0 0; border-color: #000000; border-style: solid; width:140px; padding: 0 5px 0 5px; text-align:center;">COLLECT</div>
  <% end %>
<% else %>
  <%= link_to collect_comment_path(@comment, type: "uncollect"), method: :put do %>
  <div style="font-size: 8pt; font-weight: bold; margin:5px 0 0 0; border-color: #000000; border-style: solid; width:140px; padding: 0 5px 0 5px; text-align:center;">UNCOLLECT</div>
  <% end %>
<% end %> 
<% else %>

  <div style="font-size: 8pt; font-weight: bold; margin:5px 0 0 0; border-color: #000000; border-style: solid; width:200px; padding: 0 5px 0 5px; text-align:center;"><%= link_to "SIGN IN AND COLLECT THIS PLACE", new_user_session_path %></div>

<% end %> 

	 </div>
	 

	 <div class="panel-body">

	   <div class="place-photo" style="width:500px;">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <% if @comment.photo? %>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <% end %>
    <% if @comment.photo2? %>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <% end %>
    <% if @comment.photo3? %>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <% end %>
    <% if @comment.photo4? %>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
	   <%= image_tag @comment.image.url(:medium), :class => "carousel-imagetag" %>	
      <div class="carousel-caption">

      </div>
    </div>
    <% if @comment.photo? %>
    <div class="item">
	   <%= image_tag @comment.photo.url(:medium), :class => "carousel-imagetag" %>
      <div class="carousel-caption">

      </div>
    </div>
    <% end %>
    <% if @comment.photo2? %>
    <div class="item">
     <%= image_tag @comment.photo2.url(:medium), :class => "carousel-imagetag" %>
      <div class="carousel-caption">

      </div>
    </div>
    <% end %>
    <% if @comment.photo3? %>
    <div class="item">
     <%= image_tag @comment.photo3.url(:medium), :class => "carousel-imagetag" %>
      <div class="carousel-caption">
        
      </div>
    </div>
    <% end %>
    <% if @comment.photo4? %>
    <div class="item">
     <%= image_tag @comment.photo4.url(:medium), :class => "carousel-imagetag" %>
      <div class="carousel-caption">
        
      </div>
    </div>
    <% end %>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div style="padding:20px;">
      <p style="font-weight:bold;">Keywords: <%= @comment.keyword %></p>
	  <p>"<%= @comment.body %>"</p>
	  <p>updated at <%= @comment.updated_at.to_formatted_s(:long) %></p>
	  </br>
      <p><%= @comment.address %></p>
      <p><%= @comment.phone %></p>
      <p><%= @comment.additional %></p>


      
</div>

	   </div>
	 </div>
	</div>

 	<div class="panel panel-default" style="float:left; margin-left:10px;">
	   <div class="place-author" style="width:200px; padding-top:10px; float:left; text-align:center;">
	    <div class="mainprofile" style="width:100px; margin-left:auto; margin-right:auto; padding-top:20px; padding-bottom:20px;">
        <%= image_tag(@pin.user.image.url(:medium)) %>
        </div>
	   <p><strong><a href="/<%= @pin.user.name %>"><%= @pin.user.name if @pin.user %></a></strong></p>
	    <div class="user-desc" style="margin: 15px; padding: 10px;text-align:left; border-top-style: solid;border-top-width: 2px;border-top-color: grey;">
	    <%= @pin.user.description if @pin.user %> 
	    </div>	
	   </div>
	</div>

  </div>
</div>






