<div id="footer" style="background-color:#000; padding: 20px 0 20px; margin-top: 60px; margin-bottom:0px;">

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "b.local", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li ><%= link_to "About Service", about_path %></li>
        <li><%= link_to "About Team", about_path %></li>
        <li><%= link_to "Facebook", about_path %></li>
        <li><%= link_to "Instagram", about_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div>

</div><!-- /.container-fluid -->
